@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <link href="/Content/Main.css" rel="stylesheet" type="text/css"/>
    <!--<script src="~/Scripts/modernizr-2.6.2.js"></script>-->
    <script src="~/Scripts/jquery-1.8.0.min.js"></script>
    <!--<script src="~/Scripts/bootstrap.min.js"></script>-->
    <title>Baza danych Spawmet - @ViewBag.Title</title>
</head>
<body>
    <div id="body-content">
        @RenderBody()
    </div>
</body>
</html>
