@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <link href="/Content/Main.css" rel="stylesheet" type="text/css" />
    <title>Baza danych Spawmet - @ViewBag.Title</title>
</head>
<body>
    <div id="body-content">
        @RenderBody()
    </div>
</body>
</html>
