@{
    ViewBag.Title = "MENU";
    Layout = "/Views/Layouts/Plain.cshtml";
}

<h2>MENU</h2>

<form action="/Users/" class="menu-form">
    <input type="submit" value="UŻYTKOWNICY" class="menu-form-input" />
</form>

<form action="/Home/" class="menu-form">
    <input type="submit" value="KLIENCI" class="menu-form-input" />
</form>

<form action="/Home/" class="menu-form">
    <input type="submit" value="MASZYNY" class="menu-form-input" />
</form>

<form action="/Home/" class="menu-form">
    <input type="submit" value="CZĘŚCI" class="menu-form-input"/>
</form>

<form action="/Home/" class="menu-form">
    <input type="submit" value="ZAMÓWIENIA" class="menu-form-input"/>
</form>

<form action="/Home/" class="menu-form">
    <input type="submit" value="ZESTAWY CZĘŚCI" class="menu-form-input"/>
</form>

<form action="/Home/" class="menu-form">
    <input type="submit" value="DOSTAWY" class="menu-form-input"/>
</form>

<form action="/Home/" class="menu-form">
    <input type="submit" value="REKLAMACJE" class="menu-form-input"/>
</form>

<form action="/Home/" class="menu-form">
    <input type="submit" value="WYZNACZANIE TRASY" class="menu-form-input" />
</form>